:root {
  --light-green: rgb(233, 245, 191);
  --light-green__opacity: rgba(233, 245, 191, 0.671);
  --green: rgb(176, 210, 54, 0.6);
  --main-green:rgb(176, 210, 54);
  --deep-green: #0e4525;
  --deep-green-opacity: #0e452581;
  --horizontal-space: 20px;
  --main-border: 1px solid var(--light-green);
  --sub-border: 0.5px solid rgba(0, 0, 0, 0.07);
}
