#chat-screen {
  background-color: var(--light-green);
  height: 1000vh;
}

#chat-screen::-webkit-scrollbar {
  display: none;
}

#chat-screen .alt-screen-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  top: 0;
  background-color: var(--light-green__opacity);
}

#chat-screen .status-bar {
  z-index: 2;
  background-color: var(--light-green__opacity);
}

@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to{
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.5s linear;
}

.main-chat .chat__timestamp {
  background-color: var(--deep-green);
  color: whitesmoke;
  padding: 8px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 25px;
}
@keyframes fadeInPop {
  0% {
    transform: none;
    opacity: 0;
  }
  50%{
    transform: translateY(-10px);
  }
  100%{
    transform: none;
    opacity: 1;
  }
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}

.message-row--own{
  opacity: 0;
  animation: fadeInPop 1s ease-in-out forwards;
  animation-delay:1s;
}

.message-row--oponent{
  opacity: 0;
  animation: fadeInPop 1s ease-in-out forwards;
}


.message-row img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  margin-right: 15px;
  box-shadow: 0px 1px 7px 1px var(--green);
}

.message__author {
  display: block;
  margin-bottom: 7px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: whitesmoke;
  padding: 13px 15px;
  border-radius: 14px;
  border-top-left-radius: 0px;
  font-size: 18px;
  margin-right: 5px;
}

.message__time,
.message__author {
  opacity: 0.8;
  font-size: 15px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--green);
  border-top-right-radius: 0px;
  border-top-left-radius:14px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  padding: 7px 30px;
  align-items: center;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}

.reply .reply__column:first-child{
  padding-right: 10px;
}

.reply .reply__column:last-child{
  width: 100%;
  position: relative;
}

.reply input {
  height: 30px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}


.reply i {
  opacity: 0.5;
}

.reply__column:last-child>i,
.reply__column button {
  position: absolute;
  
}

.reply__column:last-child > i {
  right: 30px;
  top: 10px;
}

.reply__column button {
  background-color: var(--green);
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  right:-15px;
  top: 9px;
}

.reply__column button i {
  opacity: 1;
}
.reply__column button:focus,
.reply__column button:active{
  outline : none;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition:opacity 1s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button{
  display: none;
}

.reply:focus-within input {
  width: 100%;
  transform: translateX(-2%) translateY(-90px);
}

.reply:focus-within {
  transform: translateY(80px);
}