#friends-display-link {
  display: block;
  text-align: center;
  background-color: var(--light-green);
  padding: 12px 0px;
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: -10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 20px;
}

.friends-screen__channel-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

#splash-screen {
  background-color: var(--main-green);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
}

@keyframes popSplashIcon {
  0%{
    opacity: 0;
    transform: translateY(30px);
  }
  50%{
    transform: translateY(-20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

#splash-screen i {
  opacity: 0;
  animation: popSplashIcon 0.8s ease-in-out forwards;
}