.alt-screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 20px 20px 20px;
  font-size: 20px;
  font-weight: 700;
}

/*균등한 widht를 주어 요소들을 분배, 가운데 정렬.*/
.alt-screen-header__column {
  width: 33%;
}

.alt-screen-header__column:first-child {
  margin-right: auto;
}

.alt-screen-header__column:nth-child(2) {
  text-align: center;
}
.alt-screen-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-screen-header__column span:last-child {
  margin-left: 15px;
}
