.icon-row {
  display: flex;
  margin-top: 10px;
  /* justify-content: space-between; */
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 10px;
  box-sizing: border-box; /*padding값이 들어가서 정해준 width보다 넘치기 때문에 초기화해줌*/
}

.icon-row__icon i {
  font-size: 35px;
}

.icon-row__icon span {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
}
