.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--light-green);
  padding: 18px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(178, 189, 175, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: var(--deep-green);
  position: relative;
}

.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.nav__dot {
  position: absolute;
  left: 30px;
}
